#my_Canvas {
  border: 5px groove white;
}

body,
html {
  overflow: hidden;
  background-color: #004d40;
  font-family: Arial, sans-serif;
  color: white;
  height: 100%;
}
.div-button {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 3px;
  margin-right: 10px;
  display: inline-block;
}
h3 {
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  max-width: 300px;
  margin: auto;
}

.form-container input,
.form-container select,
.form-container button {
  margin: 10px;
}

.game-info {
  text-align: center;
  margin-bottom: 10px;
}

.player-names {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

#player-names-container {
  margin: 10px 0;
}
label {
  font-size: 1.1rem;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="color"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

input[type="color"] {
  height: 50px;
  padding: 5px;
}

button {
  padding: 12px 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #26a69a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #00796b;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
}

button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 2px #00796b;
}