 body {
    background-color: #f0f4f8; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Arial', sans-serif;
    margin: 0; 
    padding: 20px; 
}

body, html { overflow: hidden; }

h1 {
  color: #4a90e2;
  font-size: 36px; 
  text-align: center; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px; 
  font-family: 'Georgia', serif;
}
canvas { 
  background: #000000; 
  max-width: 500px; /* Ancho máximo */
  max-height: 400px; /* Alto máximo */
  border: 2px solid white; /* Opcional: borde para el canvas */
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s; 
  margin-top: 20px;
  margin-right:20px;
}
button:hover {
  background-color: #45a049; 
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.styled-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #0056b3;
}

.info-container {
    background-color: #f9f9f9;
    margin: 20px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-content {
    padding: 15px;
}

.shape-description {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #333333;
}

.shape-info {
    font-size: 16px;
    margin-top: 10px;
    color: #555555;
}
