canvas {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border: 1px solid #ffffff; 
}

body,
html {
  overflow: hidden;
  height: 100%;
}
.title {
  font-family: "Arial", sans-serif;
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 4px #000000;
}
body {
  background: linear-gradient(135deg, #001d3d 20%, #000000 80%);
  color: #ffffff; 
}
